.root {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -12px;
    opacity: 0.3;
}

.input {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding: 8px 45px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
    &:focus {
        border-color: rgba($color: #000000, $alpha: 0.2);
    }
}

.btnClear {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -12px;
    opacity: 0.4;
    cursor: pointer;
    border: 0;
    background: transparent;
    width: 24px;
    height: 24px;
    &:hover {
        opacity: 0.8;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .root {
        margin: 1rem 0;
    }
    .input {
        width: 100%;
        max-width: 300px;
    }
}